* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}


body {
    margin: 0px;
}

.foto {
    background-image: url(/IMG/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.barra {
    float: right;
    list-style: none;
    padding: 40px;
    color: white;
}

.barra ul {
    list-style-type: none;
}

li {
    float: left;
    background-color: #F6E3CA;
    margin-right: 10px;
    border: #D7C8B6 2px solid;
    border-radius: 25px;
}

a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: #D7C8B6;
    border-radius: 25px;
}

h1 {
    text-align: center;
    padding-top: 110px;
    font-size: 50px;
    margin-top: 0px;

}

h2 {
    text-align: center;
    color: white;
}


.padre{
    padding: 70px;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    

}
.container_imagen{
align-items: center;
justify-content: center;
flex-wrap: wrap;
color: white;
margin: 0%;
border-spacing: 10px;
border-radius: 2px;
}

.padre h4{
    font-size: 25px;
}

.padre p{
    font-size: 12px;
    margin: 0px;
}
.imagen {
    height: 50px;
    width: 50px;
    align-items: center;
}

.btn1 {
    background-color: white;
    border-radius: 50px;
    border-color: white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: green;
    font-size: 20px;
    border-style: solid;
    justify-content: center;
    float: none;
    margin-left: 40%;
}

h4 {
    font-size: 20px;
}

a {
    text-decoration: none;
}
.segunda_seccion{
    background-color:red;
}

.imagen2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.ver_imagenes {
    margin-left: 220px;
    border: none;
    float: left;
    margin-top: 40px;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    background-color: transparent;
}

.segunda_seccion {
    margin-top: 40px;
}

.segunda_seccion p {
    padding: 35px;
}

.btn2 {
    color: green;
    background-color: transparent;
    border: 2px solid rgb(14, 133, 24);
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 15px;
}

.btn2:hover {
    color: white;
    background-color: rgb(14, 133, 24);
    font-weight: bolder;
}

footer {
    background-color: darkgreen;
    width: 100%;
    height: 750px;
    margin-top: 650px;
    box-sizing: border-box;
}

.titulo_contacto {
    text-align: center;
    padding: 45px;
    color: white;
}

footer .formularios {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 45px 0px;
    justify-content: center;
    align-items: center;
}

.formularios label {
    color: white;
}

.formularios input {
    margin-top: 15px;
    height: 30px;
    width: 500px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
}

::placeholder {
    color: white;
    padding-left: 10px;
    font-size: 14px;
}

.cuadro_de_info label {
    margin-left: 140px;
    color: white;
}

.cuadro_de_info textarea {
    margin-top: 15px;
    margin-left: 140px;
    border-radius: 10px;
    border-color: white;
    background-color: transparent;
    border-width: 2px;

}

textarea::placeholder {
    padding-top: 10px;
    text-size-adjust: 12px;
}

.cuadro_de_info input {
    margin-left: 585px;
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
    border: white;
    border-style: solid;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px 35px;
    font-size: 12px;
}

.botons:hover {
    color: green;
    background-color: #D3F5C8;
    font-weight: bolder;
}

.cuadro_de_info p {
    margin-left: 540px;
    font-size: 12px;
    color: white;
}